<div class="container text-center form my-5">
<h2 class="mb-5">Créer un compte</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inline">
      <%= f.input :firstname,
                  required: true,
                  autofocus: true %>
      <%= f.input :lastname,
                  required: true,
                  autofocus: true %>
    </div>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :cguvalidated?,
                  :label => false,
                  :inline_label => true,
                  label: 'Est-ce que tu acceptes les CGUs ?'%>
    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'main-button text-center' %>
    </div>

  <% end %>
</div>
<%= render "devise/shared/links" %>
